<header>
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a th:href="@{/}">
                            <img th:src="@{/images/seo-logo3.png}" alt="logo" class="logo-default" style="position:relative;top:-15px"/>
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <!--  <div class="top-menu">                    
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                <a th:href="@{/contact}">
                                    Contact
                                </a>
                             </li>
                             <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                <a th:href="@{/privacy}">
                                    Privacy
                                </a>
                             </li>
                             <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                <a th:href="@{/termsOfService}">
                                    TOS
                                </a>
                             </li>
                         </ul>
                    </div>-->
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->            
            
            <div class="page-header-menu">
                <div class="container">
                    <div class="hor-menu  ">
                        <ul class="nav navbar-nav">
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a th:href="@{/}"> Home
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a th:href="@{/seoplayhouse}"> Dashboard
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a th:href="@{/viralContentFromBlogs}"> Virality
                                </a>
                            </li>
                            <!--  <li class="menu-dropdown classic-menu-dropdown">
                                <a th:href="@{/hottestNativeAds}"> Native Ads
                                </a>
                            </li>-->
                         </ul>
                     </div>
                 </div>
             </div>
            <!-- END HEADER MENU -->
        </div>

</header>